.logo {
  font-size: 50px;        /* Bigger logo */
  font-weight: bold;
  color: #fff;
  letter-spacing: 5px;
}
.logo-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid #f4c430; /* gold border */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.logo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #071024, #07172a);;
  color: #333;
}

/* Header */
.header {
  background: linear-gradient(180deg, #071024, #07172a);;
  padding: 20px;
  text-align: center;
}

.logo {
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

/* Main Box Section */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  background: #ffffff;
  width: 300px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 14px rgba(0,0,0,0.15);
}

.box h2 {
  color: #5a3825;
  margin-bottom: 10px;
}

.box p {
  font-size: 14px;
  margin-top: 5px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  padding: 0 2rem 3rem;
}

.product-card {
  height: max-content;
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 100%; /* You can adjust this height */
  object-fit: cover;
  border-radius: 8px;
}


.product-card h3 {
  margin: 1rem 0 0.5rem;
}

.product-card p {
  font-size: 1rem;
  color: #555;
}

.product-card input {
  width: 50px;
  padding: 0.3rem;
  margin: 0.5rem;
}