* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {

    background:  linear-gradient(180deg, #071024, #07172a);;
    padding: 40px;
}

.logo {
  font-size: 50px;        /* Bigger logo */
  font-weight: bold;
  color: #fff;
  letter-spacing: 5px;
}
.logo-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid #f4c430; /* gold border */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.logo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.order-container {
    max-width: 500px;
    background: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.product-box, .summary-box {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.summary-box p {
    margin: 8px 0;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

.pay-btn {
    width: 100%;
    padding: 14px;
    background: #28a745;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pay-btn:hover {
    background: #218838;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-box {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    animation: popupScale 0.3s ease;
}

.popup-box h2 {
    color: #28a745;
    margin-bottom: 15px;
}

.popup-box p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.popup-box button {
    padding: 10px 25px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.popup-box button:hover {
    background: #218838;
}

@keyframes popupScale {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

